
@media(max-width:1572px){
.inner__main--content{
    padding-left: 125px;
    padding-right: 125px;
    padding-top: 120px;
}
.website__care__container{
    padding-left: 125px;
    padding-right: 125px;
}
.inner__website__care{
    gap: 250px;
}
.inner__website{
    padding-top: 170px;
    gap: 22px;
}
.main__title{
    font-size: 70px;
    line-height: 65px;
}
}
@media(max-width:1515px){
    .footer__container{
        padding-left: 125px;
        padding-right: 125px;
        gap:170px;
    }
}
@media(max-width:1500px){
    .illustration{
        width: 560px;
    }
}
@media(max-width:1420px){
    .service__description--content{
        padding-top: 150px;
        padding-left: 125px;
        padding-right: 125px;
    }
    .inner__service{
        gap: 45px;
    }
    .service{
        width: 550px;
        padding: 25px 30px;
    }
    .service__image__container{
        gap: 20px;
    }
    .icon{
        width:50px;
    }
    .service__paragraph{
        padding-top: 10px;
    }
    .inner__website__care{
        gap: 220px;
    }
    .started{
        padding-bottom: 15px;
    }
    .service__txt{
        padding-bottom: 20px;
    }
    .footer__container{
        gap:130px;
        padding:90px;
    }
}
@media(max-width:1388px){
    .main__title{
        font-size: 60px;
        line-height: 60px;
    }
    .illustration{
        width: 470px;
    }
    .inner__website__care{
        gap: 190px;
    }
}

@media(max-width:1367px){
    .main__inner--button{
        padding-top: 10px;
    }
    .main__paragraph{
        padding-top: 18px;
    }
    .main__inner--button{
        padding-top: 25px;
    }
    .data__exchange__container{
        padding: 125px;
    }
}

@media(max-width:1337px){
    .inner__text{
        gap: 20px;
    }
    .main__inner--button{
        padding-top: 15px;
    }
    .inner__website__care{
        gap:178px;
    }
    .footer__container{
        gap:110px;
    }
    .started{
        padding-bottom: 12px;
    }
    .service__txt{
        padding-bottom: 15px;
    }
    .data__exchange__text--container{
        padding-top: 140px;
    }
    .care__title{
        font-size: 45px;
        line-height: 45px;
    }
    .inner__exchange{
        gap: 22px;
    }
    .data__exchange__container{
        gap: 143px;
    }
}

@media(max-width:1313px){
    .inner__website__care{
        gap:158px;
    }
}
@media(max-width:1300px){
    .main__inner--button{
        padding-top: 15px;
    }

}
@media(max-width:1290px){
    .illustration{
        width: 450px;
    }
    .main__title{
        font-size: 50px;
        line-height: 55px;
    }
    .main__paragraph{
        padding-top: 18px;
    }
    .paragraph{
        font-size: 18px;
        line-height: 25px;
    }
    .service__description--content{
        padding-left: 115px;
        padding-right: 115px;
        padding-top:120px;
    }
    .service{
        width: 510px;
        padding: 15px 20px;
    }
    .inner__main--content{
        padding: 90px 90px 0;
    }
    .inner__website{
        padding-top: 140px;
    }
    .care__title{
        font-size: 45px;
        line-height: 52px;
    }
    .inner__website{
        padding-top: 120px;
        gap:20px;
    }
    .service__img{
        width: 515px;
    }
    .footer__container{
        gap:70px;
    }
}
@media(max-width:1242px){
    .illustartion{
        width:440px;
    }
    .inner__trusted{
        padding: 70px 125px 120px;
    }
    .store__data__container{
        padding:20px;
    }
    .store__card{
        width:310px;
    }
}
@media(max-width:1190px){
    .service{
        width: 490px;
        padding:12px;
    }
    .illustration{
        width: 460px;
    }
}

@media(max-width:1180px){
    .illustration{
        width: 410px;
    }
    .main__title{
        font-size: 45px;
        line-height: 45px;
    }
    .illustartion{
        width: 380px;
    }
    .inner__main--content{
        padding-left:90px;
        padding-right:90px;
        padding-top:90px;
    }
    .care__title{
        font-size: 37px;
        line-height: 45px;
    }
    .service__img{
        width: 515px;
    }
}
@media(max-width:1150px){
    .service__description--content{
        padding-left: 90px;
        padding-right: 90px;
    }
    .inner__service{
        gap:35px;
    }
    .footer__container{
        display: flex;
        flex-direction: column;
    }
    .data__exchange__container{
        gap: 143px;
    }
}
@media(max-width:1997px){
    .inner__website__care{
        gap:70px;
    }
}
@media(max-width:1120px){
    .inner__text{
        gap: 20px;
    }
    .star__container{
        gap: 20px;
        max-width: 390px;
    }
    .inner__main--content{
        padding-left: 70px;
        padding-right: 70px;
        gap: 40px;
    }
}
@media(max-width:1100px){
    .service__img{
        width: 515px;
    }
    .website__care__container{
        padding-left: 90px;
        padding-right: 90px;
    }
    .card{
        max-width: 290px;
    }
    .inner__cards{
        padding-bottom: 80px;
        gap: 25px;
    }
    .cost{
        padding-top: 22px;
        padding-bottom: 28px;
    }
    .payment{
        padding-left: 65px;
        padding-right: 65px;
        padding-bottom: 22px;
    }
    .store__card{
        flex: 1;
    }
    .data__exchange__container{
        padding: 90px;
    }
    .inner__comment img{
        width: 90px;
    }
}
@media(max-width:1064px){
    .inner__service{
        gap:25px;
    }
    .service{
        width:380px;
    }
    .service__image__container{
        gap: 15px;
    }
    .inner__main--content{
        gap: 30px;
        padding-left:70px;
        padding-right:70px;
    }
    .service__description--content{
        padding:90px 70px 0;
    }
    .illustration{
        width: 430px;
    }
    .header__items{
        display: none;
    }
    .header__container{
        padding-left: 125px;
        padding-right: 125px;
    }
    .data__exchange__container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .data__exchange__text--container{
        padding-top: 40px;
    }
    .inner__exchange{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .service__txt{
        text-align: center;
    }
}
@media(max-width:1010px){
    .main__title{
       font-size: 47px;
        line-height: 51px;
    }
    .inner__text{
        gap: 15px;
    }
    .main__paragraph{
        padding-top: 10px;
    }
    .service__img{
        width: 440px;
    }
}
@media(max-width:970px){
    .inner__main--content{
        gap: 20px;
    }
    .main__title{
        font-size: 40px;
        line-height: 39px;
    }
    .illustration{
        width: 395px;
    }
    .inner__service{
        gap: 18px;
    }
    .service__image__container{
        gap: 10px;
    }
    .review__container{
        gap: 180px;
    }
}
@media(max-width:959px){
    .service__description--content{
        padding-left: 50px;
        padding-right: 50px;
    }
    .inner__website{
        padding-top: 100px;
    }
    .inner__website__care{
        padding-top: 100px;
    }
    .website__care__container{
        padding-left: 70px;
        padding-right: 70px;
        gap:50px;
    }
    .cost{
        padding-top: 19px;
        padding-bottom: 24px;
    }
    .payment{
        padding-left: 55px;
        padding-right: 55px;
        padding-bottom: 19px;
    }
    .card{
        max-width: 270px;
    }
}

@media(max-width:924px){
    .inner__website__care{
        padding-top: 70px;
    }
    .review__container{
        gap: 160px;
    }
}
@media(max-width:910px){
    .main__inner--button{
        padding-top: 10px;
    }
    .paragraph{
        font-size: 16px;
    }
    .service__description--content{
        padding-left: 50px;
        padding-right: 50px;
    }
    .service__txt{
        font-size: 18px;
    }
    .care__title{
        font-size: 35px;
        line-height: 40px;
    }
    .header__container{
        padding-left: 90px;
        padding-right: 90px;
    }
    .card{
        max-width:250px;
    }
    .vector{
        width: 300px;
    }
}
@media(max-width:886px){
    .inner__main--content{
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 70px;
        gap: 20px;
    }
    .illustration{
        width:410px;
    }
    .inner__website{
        padding-top: 70px;
        gap:10px;
    }
    .service__txt{
        font-size: 16px;
    }
    .service__img{
        width: 400px;
    }
    .care__title{
        font-size: 35px;
        line-height: 40px;
    }
    .review__container{
        gap: 120px;
    }
    .inner__trusted{
        padding-left: 90px;
        padding-right: 90px;
        padding-bottom: 90px;
    }
    .card{
        max-width: 230px;
    }
}

@media(max-width:841px){
    .card{
        max-width: 230px;
    }
}
@media(max-width:836px){
    .illustartion{
        width:380px;
    }
    .main__title{
        font-size: 37px;
    }
}
@media(max-width:825px){
    .vector{
        width: 265px;
    }
    .illustration{
        width: 370px;
    }
    .footer__btn{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .started{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .service__txt{
        text-align: center;
    }
    .footer__container{
        gap:50px;
    }
    .icon{
        width:40px;
    }
}

@media(max-width:798px){
    .inner__main--content{
        display: flex;
        flex-direction:column;
        align-items:center;
    }
    .review__container{
        gap: 90px;
        padding-top:40px;
    }
    .inner__website__care{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .inner__website{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .service__txt{
        text-align: center;
    }
    .inner__website__care{
        gap: 30px;
    }
    .inner__text{
        display: flex;
        align-items: center;
    }
    .main__paragraph{
        text-align: center;
        color: var(--Black, #12141D);
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px;
        padding-top:16px;
    }
    .main__title{
        text-align: center;
        color: var(--Black, #12141D);
        font-family: "Space Grotesk";
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: 52px;
        letter-spacing: -1px;
    }
    .main__inner--button{
        display: flex;
        justify-content: center;
        padding-top:30px;
    }
    .text{
        color: #F43F5E;
        text-align: center;
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 28px;
    }
    .service__description--content{
        padding-left: 30px;
        padding-right: 30px;
    }
    .inner__service{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .service__image__container{
        align-items: center;
    }
    .service__paragraph{
        text-align: center;
    }
    .border__right{
        width: 211px;
    }
    .dollar{
        font-size:48px;
    }
    .vector{
        width: 230px;
        right: -136px;
    }
}
@media(max-width:763px){
    .inner__cards{
        padding-top: 40px;
    }
    .inner__text__plan{
        gap: 15px;
    }
    .card{
        max-width:210px;
    }
    .started__btn{
       padding: 14px;
    }
    .burger__container{
        display:flex;
        flex-direction:column;
        align-items:center;
        justify-content: center;
    }
}
@media(max-width:757px){
    .review__container{
        gap:50px;
    }
    .trusted{
        font-size: 40px;
        line-height: 48px;
    }
    .star__container{
        gap: 15px;
    }
}
@media(max-width:725px){
    .inner__cards{
        display: flex;
        flex-direction: column;
    }
}
@media(max-width:720px){
    .plan__title{
        font-size: 40px;
        line-height: 45px;
    }
}
@media(max-width:702px){
    .inner__trusted{
        padding:50px;
    }
    .inner__cards{
        display: flex;
        flex-direction: column;
    }
}
@media(max-width:650px){
    .icon{
        width:30px;
    }
    .review__container{
        display: flex;
        flex-direction: column;
        gap:30px;
        padding-top:25px;
    }
    .trusted{
        font-size: 35px;
        line-height: 40px;
    }
    .header__container{
        padding-left: 50px;
        padding-right: 50px;
    }
}
@media(max-width:595px){
    .care__title{
        text-align: center;
    }
}
@media(max-width:568px){
    .main__title{
        font-size: 35px;
        line-height: 40px;
        text-align: center;
    }
    .main__inner--button{
        padding-top:22px;
    }
    .inner__website{
        padding-top: 40px;
    }
    .inner__website__care{
        padding-top: 40px;
    }
    .care__title{
          font-size: 30px;
        line-height: 40px;
    }
    .header__container{
        padding-left: 30px;
        padding-right: 30px;
    }
    .footer__container{
        padding-left: 30px;
        padding-right: 30px;
    }
    .footer__cards{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .data__exchange__container{
        padding: 30px;
        gap: 30px;
    }
    .inner__comment img{
        width: 70px;
    }
    .dots__img{
        width: 55px;
        left: -20px;
    }
    .vector__img{
        width: 60px;
        left: -32px;
    }
    .check__img{
        width: 50px;
    }
    .background{
        width: 60px;
        height: 60px;
    }
    .security__img{
        width: 25px;
        left: 20px;
    }
}
@media(max-width:520px){
    .inner__comment img{
        width: 50px;
    }

}
@media(max-width:511px){
    .comment{
        width: 70px;
    }
    .security__img{
        left: 13px;
    }
    .vector__img{
        width: 62px;
        left: -32px;
    }
    .check__img{
        width: 30px;
    }
    .background{
        width: 30px;
        height: 30px;
    }
    .security__img{
        width: 15px;
        left: 7px;
        bottom: 9px;
    }
    .sec__vector{
        width: 30px;
    }
}
@media(max-width:490px){
    .care__title{
        text-align: center;
    }
    .vector{
        width: 210px;
    }
    .dots__img{
        width: 50px;
        left: -30px;
    }
}

@media(max-width:462px){
    .dots__img{
        left: -9px;
    }
}
@media(max-width:450px){
    .trusted{
        font-size: 28px;
        line-height: 35px;
    }
    .inner__trusted{
        padding:30px;
    }
}
@media(max-width:430px){
    .inner__main--content{
        padding:70px 40px 0;
    }
    .website__care__container{
        padding-left: 50px;
        padding-right: 50px;
    }
    .trusted{
        font-size: 30px;
    }
}
@media(max-width:400px){
    .inner__text__plan{
        padding-top: 50px;
    }
    .plan__title{
        font-size: 30px;
        line-height: 33px;
    }
}
@media(max-width:385px){
    .illustration{
        width: 330px;
    }
    .inner__main--content{
        padding-left:30px;
        padding-right:30px;
    }
    .service__txt{
        font-size:16px;
    }
    .service__paragraph{
        display: flex;
        justify-content: center;
    }
    .service__txt{
        width:312px;
    }
    .service__img{
        width: 360px;
    }
    .website__care__container{
        padding-left: 30px;
        padding-right: 30px;
    }
    .service{
        width: 320px;
    }
    .vector{
        top: 220px;
    }
}

@media(max-width:340px){
    .illustartion{
        width:320px;
    }
    .service__img{
        width: 340px;
    }
    .service__img{
        width: 320px;
    }
    .inner__footer{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .started{
        text-align: center;
    }
    .store__card{
        width: 280px;
    }
}
@media(max-width:335px){
    .main__title{
        font-size: 25px;
        line-height: 30px;
    }
    .btn{
        display: block;
    }
}
@media(max-width:328px){
    .illustration{
        width:290px;
    }
    .service__txt{
        width: 280px;
    }
    .btn{
        padding: 14px;
    }
}

@media(max-width:310px){
    .btn{
        padding:12px;
    }
}
